<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805201404369-peabg609uo75dnlq4kg2trjaje9t1ts0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805201404369-peabg609uo75dnlq4kg2trjaje9t1ts0</string>
	<key>API_KEY</key>
	<string>AIzaSyCp_4gJu4v9Vsx05xb4IKscKzVEn2eLlf0</string>
	<key>GCM_SENDER_ID</key>
	<string>805201404369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.jay.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-e3ee0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-e3ee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805201404369:ios:b1dfe14af74c23412300f0</string>
</dict>
</plist>